In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('carprices_train_test.csv')
df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [23]:
X = df[['Mileage', 'Age(yrs)']]
y = df['Sell Price($)']

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)

In [26]:
from sklearn.linear_model import LinearRegression
cdf = LinearRegression()

In [27]:
cdf.fit(X_train, y_train)

LinearRegression()

In [28]:
cdf.predict(X_test)

array([20474.0745775 , 16352.07892168, 25174.14834912, 27197.42175439])

In [29]:
y_test

7     19300
10    18700
5     26750
6     32000
Name: Sell Price($), dtype: int64

In [30]:
cdf.score(X_test, y_test)

0.7332339593090149